@import 'tailwindcss';

@theme {
  --color-primary: #334155;
  --color-dark: #0f172a;
  --color-secondary: #475569;
  --color-light: #f8fafc;

  --breakpoint-2xl: 1320px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.hamburger-line {
  @apply w-6 h-0.5 bg-primary rounded-full transition duration-300 ease-in-out;
}

#hamburger.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

#hamburger.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

#hamburger.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

@keyframes blob {
  0% {
      transform: translate(0px, 0px) scale(1);
  }
  33% {
      transform: translate(30px, -50px) scale(1.1);
  }
  66% {
      transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
      transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}
